import(RCurl)
import(stringr)
import(RJSONIO)
import(ggplot2)
import(data.table)
import(googleVis)
import(XML)

export(formatarticleurl, searchplos, plosauthor, plosword, plosabstract, plossubject, plostitle, crossref, plot_throughtime, articlelength)
