http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&facet.field=adsfad&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 21:31:23 GMT
      etag: '"171568e11c2"'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":2341967,"start":0,"docs":[
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {}]
          },
          "error":{
            "metadata":[
              "error-class","org.apache.solr.common.SolrException",
              "root-error-class","org.apache.solr.common.SolrException"],
            "msg":"undefined field: \"adsfad\"",
            "code":400}}
  recorded_at: 2020-04-07 21:31:23 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
