http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&facet.field=journal&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"Yjc3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":2341967,"start":0,"docs":[
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {}]
          },
          "facet_counts":{
            "facet_queries":{},
            "facet_fields":{
              "journal":[
                "plos one",1939972,
                "plos genetics",72382,
                "plos pathogens",65865,
                "plos neglected tropical diseases",64913,
                "plos computational biology",59616,
                "plos biology",41954,
                "plos medicine",29883,
                "plos clinical trials",521,
                "plos medicin",9]},
            "facet_ranges":{},
            "facet_intervals":{},
            "facet_heatmaps":{}}}
  recorded_at: 2020-04-07 21:31:23 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=alcohol&facet.field=journal&facet.field=subject&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"Y2I3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":32773,"start":0,"docs":[
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {}]
          },
          "facet_counts":{
            "facet_queries":{},
            "facet_fields":{
              "journal":[
                "plos one",29296,
                "plos genetics",654,
                "plos medicine",613,
                "plos neglected tropical diseases",559,
                "plos pathogens",404,
                "plos biology",247,
                "plos computational biology",214,
                "plos clinical trials",7,
                "plos medicin",0],
              "subject":[
                "biology and life sciences",31180,
                "medicine and health sciences",28115,
                "research and analysis methods",17534,
                "biochemistry",14624,
                "physical sciences",11686,
                "anatomy",11298,
                "physiology",10542,
                "organisms",10199,
                "cell biology",9602,
                "genetics",8234,
                "pathology and laboratory medicine",8189,
                "chemistr[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=alcohol&facet.field=journal&facet.mincount=500&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"YmY3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":32773,"start":0,"docs":[
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {},
              {}]
          },
          "facet_counts":{
            "facet_queries":{},
            "facet_fields":{
              "journal":[
                "plos one",29296,
                "plos genetics",654,
                "plos medicine",613,
                "plos neglected tropical diseases",559]},
            "facet_ranges":{},
            "facet_intervals":{},
            "facet_heatmaps":{}}}
  recorded_at: 2020-04-07 21:31:23 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&facet.query=cell%2Cbird&facet.field=journal&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"YmY3[...]
