http_interactions:
- request:
    method: get
    uri: http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0165447&type=manuscript
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Wed, 16 Nov 2016 18:27:59 GMT
      content-disposition: inline; filename=journal.pone.0165447.xml
      content-type: application/xml
    body:
      encoding: UTF-8
      file: no
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE article PUBLIC "-//NLM//DTD JATS (Z39.96) Journal Publishing DTD v1.1d3 20150301//EN" "http://jats.nlm.nih.gov/publishing/1.1d3/JATS-journalpublishing1.dtd">
        <article article-type="research-article" dtd-version="1.1d3" xml:lang="en" xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:xlink="http://www.w3.org/1999/xlink">
        <front>
        <journal-meta>
        <journal-id journal-id-type="nlm-ta">PLoS ONE</journal-id>
        <journal-id journal-id-type="publisher-id">plos</journal-id>
        <journal-id journal-id-type="pmc">plosone</journal-id>
        <journal-title-group>
        <journal-title>PLOS ONE</journal-title>
        </journal-title-group>
        <issn pub-type="epub">1932-6203</issn>
        <publisher>
        <publisher-name>Public Library of Science</publisher-name>
        <publisher-loc>San Francisco, CA USA</publisher-loc>
        </publisher>
        </journal-meta>
        <article-meta>
        <article-id pub-id-type="doi">10.1371/journal.pone.0165447</article-id>
        <article-id pub-id-type="publisher-id">PONE-D-16-22075</article-id>
        <article-categories>
        <subj-group subj-group-type="heading">
        <subject>Research Article</subject>
        </subj-group>
        <subj-group subj-group-type="Discipline-v3"><subject>Biology and life sciences</subject><subj-group><subject>Nutrition</subject><subj-group><subject>Diet</subject><subj-group><subject>Food</subject></subj-group></subj-group></subj-group></subj-group><subj-group subj-group-type="Discipline-v3"><subject>Medicine and health sciences</subject><subj-group><subject>Nutrition</subject><subj-group><subject>Diet</subject><subj-group><subject>Food</[...]
[...]
- request:
    method: get
    uri: http://journals.plos.org/plosbiology/article/file?id=10.1371/journal.pbio.2000225&type=manuscript
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Fri, 18 Nov 2016 18:56:04 GMT
      content-disposition: inline; filename=journal.pbio.2000225.xml
      content-type: ap[...]
[...]
- request:
    method: get
    uri: http://journals.plos.org/plosmedicine/article/file?id=10.1371/journal.pmed.1002175&type=manuscript
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Tue, 22 Nov 2016 18:23:29 GMT
      content-disposition: inline; filename=journal.pmed.1002175.xml
      content-type: a[...]
- request:
    method: get
    uri: http://journals.plos.org/plosmedicine/article/file?id=10.1371/journal.pmed.1001443&type=manuscript
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Wed, 26 Mar 2014 11:43:31 GMT
      content-disposition: inline; filename=journal.pmed.1001443.XML
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE article\n  PUBLIC
        \"-//NLM//DTD Journal Publishing DTD v3.0 20080202//EN\" \"http://dtd.nlm.nih.gov/publishing/3.0/journalpublishing3.dtd\">\n<article
        xmlns:mml=\"http://www.w3.org/1998/Math/MathML\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        article-type=\"research-article\" dtd-version=\"3.0\" xml:lang=\"en\">\n<front>\n<journal-meta>\n<journal-id
        journal-id-type=\"publisher-id\">PLoS</journal-id>\n<journal-id journal-id-type=\"nlm-ta\">PLoS
        Med</journal-id>\n<journal-id journal-id-type=\"pmc\">plosmed</journal-id><journal-title-group>\n<journal-title>PLoS
        Medicine</journal-title></journal-title-group>\n<issn pub-type=\"epub\">1549-1676</issn>\n<publisher>\n<publisher-name>Public
        Library of Science</publisher-name>\n<publisher-loc>San Francisco, USA</publisher-loc></publisher>\n</journal-meta>\n<article-meta>\n<article-id
        pub-id-type=\"publisher-id\">PMEDICINE-D-12-01475</article-id>\n<article-id
        pub-id-type=\"doi\">10.1371/journal.pmed.1001443</article-id>\n<article-categories><subj-group
        subj-group-type=\"heading\"><subject>Policy Forum</subject></subj-group><subj-group
        subj-group-type=\"Discipline-v2\"><subject>Medicine</subject><subj-group><subject>Mental
        health</subject></subj-group><subj-group><subject>Primary care</subject></subj-group><subj-group><subject>Public
        health</subject></subj-group></subj-group></article-categories>\n<title-group>\n<article-title>Grand
        Challenges: Integrating Mental Health Care into the Non-Communicable Disease
        Agenda</article-title>\n</title-group>\n<contrib-group>\n<contrib contrib-type=\"author\"
        xlink:type=\"simple\"><name name-style=\"western\"><surname>Ngo</surname><given-names>Victoria
        K.</given-names></name><xref ref-type=\"aff\" rid=\"aff1\"><sup>1</sup></xref><xref
        ref-type=\"corresp\" rid=\"cor1\"><sup>*</sup></xref></contrib>\n<contrib
        contrib-type=\"author\" xlink:type=\"simple\"><name name-style=\"western\"><surname>Rubinstein</surname><given-names>Adolfo</given-names></name><xref
        ref-type=\"aff\" rid=\"aff2\"><sup>2</sup></xref></contrib>\n<contrib contrib-type=\"author\"
        xlink:type=\"simple\"><name name-style=\"western\"><surname>Ganju</surname><given-names>Vijay</given-names></name><xref
        re[...]
- request:
    method: get
    uri: http://journals.plos.org/plosgenetics/article/file?id=10.1371/journal.pgen.1005936&type=manuscript
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      last-modified: Mon, 28 Mar 2016 17:20:49 GMT
      content-disposition: inline; filename=journal.pgen.1005936.XML
      content-type: t[...]
[...]
