http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=title%3A%22drosophila%22&fl=title&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"YmY3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":2397,"start":0,"docs":[]
          }}
  recorded_at: 2020-04-07 21:31:42 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=title%3A%22drosophila%22&fl=title&start=0&rows=19&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"YmY3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":2397,"start":0,"docs":[
              {
                "title":"Tandem Duplications and the Limits of Natural Selection in Drosophila yakuba and Drosophila simulans"},
              {
                "title":"A DNA Virus of Drosophila"},
              {
                "title":"Peptidergic control in a fruit crop pest: The spotted-wing drosophila, Drosophila suzukii"},
              {
                "title":"Nematocytes: Discovery and characterization of a novel anculeate hemocyte in Drosophila falleni and Drosophila phalerata"},
              {
          [...]
[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=title%3A%22drosophila%22&fl=title%2Cjournal&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"Y2I3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":2397,"start":0,"docs":[]
          }}
  recorded_at: 2020-04-07 21:31:42 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=title%3A%22drosophila%22&fl=title%2Cjournal&start=0&rows=5&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"Y2I3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":2397,"start":0,"docs":[
              {
                "journal":"PLOS ONE",
                "title":"Tandem Duplications and the Limits of Natural Selection in Drosophila yakuba and Drosophila simulans"},
              {
                "journal":"PLoS ONE",
                "title":"A DNA Virus of Drosophila"},
              {
                "journal":"PLOS ONE",
                "title":"Peptidergic control in a fruit crop pest: The spotted-wing drosophila, Drosophila suzukii"},
              {
                "journal":"PLOS ONE",
                "title":"Nematocytes: Discovery and characterization of a novel anculeate hemocyte in Drosophila falleni and Drosophila phalerata"},
              {
                "journal":"PLoS ONE",
                "title":"In Vivo RNAi Rescue in Drosophila melanogaster with Genomic Transgenes from Drosophila pseudoobscura"}]
          }}
  recorded_at: 2020-04-07 21:31:42 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
