http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?wt=json&fq=doc_type%3Afull&q=id%3A%2210.1371%2Fjournal.pone.0002154%22&fl=id%2Ccounter_total_all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"Y2I3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":1,"start":0,"docs":[
              {
                "id":"10.1371/journal.pone.0002154",
                "counter_total_all":9812}]
          }}
  recorded_at: 2020-04-07 21:31:43 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?wt=json&fq=doc_type%3Afull&rows=18&q=%22bird%22&fl=id%2Ccounter_total_all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"Y2I3ZDgwMDAwMDAwMDAwMFN[...]
