http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=author%3A%22johnson%22&fl=title%2Cauthor&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"Yjc3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":16333,"start":0,"docs":[]
          }}
  recorded_at: 2020-04-07 21:31:41 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=author%3A%22johnson%22&fl=title%2Cauthor&start=0&rows=100&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"YmY3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":16333,"start":0,"docs":[
              {
                "author":["Jay E Johnson",
                  "F Brad Johnson"]},
              {
                "author":["Jay E Johnson",
                  "F Brad Johnson"]},
              {
                "author":["Jay E Johnson",
                  "F Brad Johnson"],
                "title":"Methionine Restriction Activates the Retrograde Response and Confers Both Stress Tolerance and Lifespan Extension to Yeast, Mouse and Human Cells"},
              {
                "author":["Jay E Johnson",
                  "F Brad Johnson"]},
              {
                "author":["Jay E Johnson",
                  "F Brad Johnson"]},
              {
                "author":["Jay E Johnson",
                  "F Brad Johnson"]},
              {
                "author":["Jay E Johnson",
[...]
