http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=phylogeny&fl=publication_date&wt=json&rows=300
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"OTk3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":17465,"start":0,"docs":[
              {
                "publication_date":"2010-09-28T00:00:00Z"},
              {
                "publication_date":"2009-02-05T00:00:00Z"},
              {
                "publication_date":"2013-11-01T00:00:00Z"},
              {
                "publication_date":"2015-06-25T00:00:00Z"},
              {
                "publication_date":"2018-04-11T00:00:00Z"},
              {
                "publication_date":"2016-04-12T00:00:00Z"},
              {
                "publication_date":"2010-02-04T00:00:00Z"},
              {
   [...]
- request:
    method: get
    uri: http://api.plos.org/search?q=drosophila&fl=publication_date&wt=json&rows=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"OTk3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      [...]
- request:
    method: get
    uri: http://api.plos.org/search?q=monkey&fl=publication_date&wt=json&rows=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"Yjc3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      enco[...]
[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=flower&fl=publication_date&wt=json&rows=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 07 Apr 2020 17:37:13 GMT
      etag: '"YmY3ZDgwMDAwMDAwMDAwMFNvbHI="'
    body:
      enco[...]
