http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&facet.field=adsfad&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 17:31:49 GMT
      etag: '"163270f6360"'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1994702,"start":0,"docs":[{},{},{},{},{},{},{},{},{},{}]},"error":{"metadata":["error-class","org.apache.solr.common.SolrException","root-error-class","org.apache.solr.common.SolrException"],"msg":"undefined field: \"adsfad\"","code":400}}
  recorded_at: 2018-05-03 17:31:50 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
