http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&facet.field=journal&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 13:15:05 GMT
      etag: '"M2FkYzE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1994702,"start":0,"docs":[{},{},{},{},{},{},{},{},{},{}]},"facet_counts":{"facet_queries":{},"facet_fields":{"journal":["plos one",1654488,"plos genetics",62279,"plos pathogens",55962,"plos neglected tropical diseases",51041,"plos computational biology",48188,"plos biology",33959,"plos medicine",24690,"plos clinical trials",521,"plos medicin",9]},"facet_ranges":{},"facet_intervals":{},"facet_heatmaps":{}}}
  recorded_at: 2018-05-03 17:31:49 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=alcohol&facet.field=journal&facet.field=subject&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 13:15:05 GMT
      etag: '"NTYyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":27480,"start":0,"docs":[{},{},{},{},{},{},{},{},{},{}]},"facet_counts":{"facet_queries":{},"facet_fields":{"journal":["plos one",24513,"plos genetics",563,"plos medicine",483,"plos neglected tropical diseases",445,"plos pathogens",333,"plos biology",183,"plos computational biology",174,"plos clinical trials",7,"plos medicin",0],"subject":["biology and life sciences",26296,"medicine and health sciences",23459,"research and analysis methods",15069,"biochemistry",12859,"physical sciences",9872,"anatomy",9666,"physiology",8901,"cell biology",8581,"organisms",8572,"genetics",7350,"pathology and laboratory medicine",6822,"chemistry",6370,"proteins",5796,"diagnostic medicine",5570,"social sciences",5462,"eukaryota",5396,"people and places",5376,"chemical compounds",4960,"neuroscience",4752,"cellular types",4657,"animal cells",4482,"gen[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=alcohol&facet.field=journal&facet.mincount=500&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 13:15:05 GMT
      etag: '"M2FkYzE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":27480,"start":0,"docs":[{},{},{},{},{},{},{},{},{},{}]},"facet_counts":{"facet_queries":{},"facet_fields":{"journal":["plos one",24513,"plos genetics",563]},"facet_ranges":{},"facet_intervals":{},"facet_heatmaps":{}}}
  recorded_at: 2018-05-03 17:31:49 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&facet.query=cell%2Cbird&facet.field=journal&wt=json&fl=DOES_NOT_EXIST&facet=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 13:15:05 GMT
      etag: '"NTYyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1994702,"start":0,"docs":[{},{},{},{},{},{},{},{},{},{}]},"facet_counts":{"facet_queries":{"cell,bird":6},"facet_fields":{"journal":["plos one",1654488,"plos genetics",62279,"plos pathogens",55962,"plos neglected tropical diseases",51041,"plos computational biology",48188,"plos biology",33959,"plos medicine",24690,"plos clinical trials",521,"plos medicin",9]},"facet_ranges":{},"facet_intervals":{},"facet_heatmaps":{}}}
  recorded_at: 2018-05-03 17:31:49 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
