http_interactions:
- request:
    method: get
    uri: http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0086169&type=manuscript
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      last-modified: Wed, 26 Mar 2014 13:24:29 GMT
      content-disposition: inline; filename=journal.pone.0086169.XML
      content-type: text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE article
          PUBLIC "-//NLM//DTD Journal Publishing DTD v3.0 20080202//EN" "http://dtd.nlm.nih.gov/publishing/3.0/journalpublishing3.dtd">
        <article xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:xlink="http://www.w3.org/1999/xlink" article-type="research-article" dtd-version="3.0" xml:lang="en">
        <front>
        <journal-meta>
        <journal-id journal-id-type="nlm-ta">PLoS ONE</journal-id>
        <journal-id journal-id-type="publisher-id">plos</journal-id>
        <journal-id journal-id-type="pmc">plosone</journal-id><journal-title-group>
        <journal-title>PLoS ONE</journal-title></journal-title-group>
        <issn pub-type="epub">1932-6203</issn>
        <publisher>
        <publisher-name>Public Library of Science</publisher-name>
        <publisher-loc>San Francisco, USA</publisher-loc></publisher>
        </journal-meta>
        <article-meta>
        <article-id pub-id-type="publisher-id">PONE-D-13-32985</article-id>
        <article-id pub-id-type="doi">10.1371/journal.pone.0086169</article-id>
        <article-categories><subj-group subj-group-type="heading"><subject>Research Article</subject></subj-group><subj-group subj-group-type="Discipline-v2"><subject>Biology</subject><subj-group><subject>Ecology</subject><subj-group><subject>Behavioral ecology</subject></subj-group></subj-group><subj-group><subject>Evolutionary biology</subject><subj-group><subject>Evolutionary developmental biology</subject><subject>Evolutionary theory</subject></subj-group></subj-group><subj-group><subject>Zoology</subject><subj-group><subject>Animal physiology</subject><subject>Mammalogy</subject></subj-group></subj-group></subj-group><subj-group subj-group-type="Discipline-v2"><subject>Social and behavioral sciences</subject><subj-group><subject>Anthropology</subject><subj-group><subject>Biological anthropology</subject></subj-group></subj-group></subj-group><subj-group subj-group-type="Discipline-v2"><subject>Veterinary science</subject><subj-group><subject>Animal management</subject><subj-group><subject>Animal nutrition</subject><subject>Animal performance</subject></subj-group></subj-group></subj-group></article-categories>
        <title-group>
        <article-title>Holsteins Favor Heifers, Not Bulls: Biased Milk Production Programmed during Pregnancy as a Function of Fetal Sex</article-title>
        <alt-title alt-title-type="running-head">Fetal Sex Programs Milk Synthesis in Dairy Cows</alt-title>
        </title-group>
        <contrib-group>
        <contrib contrib-type="author" xlink:type="simple"><name name-style="western"><surname>Hinde</surname><given-names>Katie</given-names></name><xref ref-type="aff" rid="aff1"><sup>1</sup></xref><xref ref-type="aff" rid="aff4"><sup>4</sup></xref><xref ref-type="aff" rid="aff5"><sup>5</sup></xref><xref ref-type="corresp" rid="cor1"><sup>*</sup></xref></contrib>
        <contrib contrib-type="author" xlink:type="simple"><name name-style="western"><surname>Carpenter</surname><given-names>Abigail J.</given-names></name><xref ref-type="aff" rid="aff2"><sup>2</sup></xref></contrib>
        <contrib contrib-type="author" xlink:type="simple"><name name-style="western"><surname>Clay</surname><given-names>John S.</given-names></name><xref ref-type="aff" rid="aff3"><sup>3</sup></xref></contrib>
        <contrib contrib-type="author" xlink:type="simple"><name name-style="western"><surname>Bradford</surname><given-names>Barry J.</given-names></name><xref ref-type="aff" rid="aff2"><sup>2</sup></xref></contrib>
        </contrib-group>
        <aff id="aff1"><label>1</label><addr-line>Department of Human Evolutionary Biology, Harvard University, Cambridge, Massachusetts, United States of America</addr-line></aff>
        <aff id="aff2"><label>2</label><addr-line>Department of Animal Sciences and Industry, Kansas State University, Manhattan, Kansas, United States of America</addr-line></aff>
        <aff id="aff3"><label>3</label><addr-line>Dairy Records Management Systems, Raleigh, North Carolina, United States of America</addr-line></aff>
        <aff id="aff4"><label>4</label><addr-line>Nutrition Laboratory, Smithsonian Conservation Biology Institute, National Zoological Park, Washington, District of Columbia, United States of America</addr-line></aff>
        <aff id="aff5"><label>5</label><addr-line>Brain, Mind, and Behavior Unit, California National Primate Research Center, University of California Davis, Davis, California, United States of America</addr-line></aff>
        <contrib-group>
        <contrib contrib-type="editor" xlink:type="simple"><name name-style="western"><surname>Cameron</surname><given-names>Elissa Z.</given-names></name>
        <role>Editor</role>
        <xref ref-type="aff" rid="edit1"/></contrib>
        </contrib-group>
        <aff id="edit1"><addr-line>University of Tasmania, Australia</addr-line></aff>
        <author-notes>
        <corresp id="cor1">* E-mail: <email xlink:type="simple">khinde@fas.harvard.edu</email></corresp>
        <fn fn-type="conflict"><p>The authors have declared that no competing interests exist.</p></fn>
        <fn fn-type="con"><p>Conceived and designed the experiments: KH BJB AC. Analyzed the data: BJB AC KH. Contributed reagents/materials/analysis tools: JC. Wrote the paper: KH BJB AC. Provided comments on manuscript: JC.</p></fn>
        </author-notes>
        <pub-date pub-type="collection"><year>2014</year></pub-date>
        <pub-date pub-type="epub"><day>3</day><month>2</month><year>2014</year></pub-date>
        <volume>9</volume>
        <issue>2</issue>
        <elocation-id>e86169</elocation-id>
        <history>
        <date date-type="received"><day>12</day><month>8</month><year>2013</year></date>
        <date date-type="accepted"><day>6</day><month>12</month><year>2013</year></date>
        </history>
        <permissions>
        <copyright-year>2014</copyright-year>
        <copyright-holder>Hinde et al</copyright-holder><license xlink:type="simple"><license-p>This is an open-access article distributed under the terms of the <ext-link ext-link-type="uri" xlink:href="http://creativecommons.org/licenses/by/4.0/" xlink:type="simple">Creative Commons Attribution License</ext-link>, which permits unrestricted use, distribution, and reproduction in any medium, provided the original author and source are credited.</license-p></license></permissions>
        <abstract>
        <p>Mammalian females pay high energetic costs for reproduction, the greatest of which is imposed by lactation. The synthesis of milk requires, in part, the mobilization of bodily reserves to nourish developing young. Numerous hypotheses have been advanced to predict how mothers will differentially invest in sons and daughters, however few studies have addressed sex-biased milk synthesis. Here we leverage the dairy cow model to investigate such phenomena. Using 2.39 million lactation records from 1.49 million dairy cows, we demonstrate that the sex of the fetus influences the capacity of the mammary gland to synthesize milk during lactation. Cows favor daughters, producing significantly more milk for daughters than for sons across lactation. Using a sub-sample of this dataset (N = 113,750 subjects) we further demonstrate that the effects of fetal sex interact dynamically across parities, whereby the sex of the fetus being gestated can enhance or diminish the production of milk during an established lactation. Moreover the sex of the fetus gestated on the first parity has persistent consequences for milk synthesis on the subsequent parity. Specifically, gestation of a daughter on the first parity increases milk production by ∼445 kg over the first two lactations. Our results identify a dramatic and sustained programming of mammary function by offspring <italic>in utero</italic>. Nutritional and endocrine conditions <italic>in utero</italic> are known to have pronounced and long-term effects on progeny, but the ways in which the progeny has sustained physiological effects on the dam have received little attention to date.</p>
        </abstract>
        <funding-group><funding-statement>Contribution no. 13-391-J from the Kansas Agricultural Experiment Station to BJB and AJC supported, in part, the study. The funders had no role in study design, data collection and analysis, decision to publish, or preparation of the manuscript. No additional external funding was received for this study.</funding-statement></funding-group><counts><page-count count="7"/></counts></article-meta>
        </front>
        <body><sec id="s1">
        <title>Introduction</title>
        <p>Since the 1970s, biologists have directed substantial research effort to understanding adaptive sex-biased allocation of maternal resources in animals and plants. Biologists have proposed numerous hypotheses for sex-biases, including local resource competition <xref ref-type="bibr" rid="pone.0086169-Clark1">[1]</xref>–<xref ref-type="bibr" rid="pone.0086169-Silk1">[2]</xref>, “advantaged daughters” <xref ref-type="bibr" rid="pone.0086169-Simpson1">[3]</xref>, loca[...]
[...]
- request:
    method: get
    uri: http://journals.plos.org/plosbiology/article/file?id=10.1371/journal.pbio.1001845&type=manuscript
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      last-modified: Wed, 30 Apr 2014 03:08:25 GMT
      content-disposition: inline; filename=journal.pbio.1001845.XML
      content-type: te[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 13:15:05 GMT
      etag: '"NTYyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1994702,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 17:29:26 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?fq=article_type%3A%22Research%20Article%22&q=%2A%3A%2A&fl=id&start=0&rows=3&wt=json&fq=doc_type%3Afull
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 13:15:05 GMT
      etag: '"NjRiZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":217414,"start":0,"docs":[{"id":"10.1371/journal.pone.0044136"},{"id":"10.1371/journal.pone.0155491"},{"id":"10.1371/journal.pone.0058100"}]}}
  recorded_at: 2018-05-03 17:29:26 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0044136&type=manuscript
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      last-modified: Wed, 26 Mar 2014 10:20:11 GMT
      content-disposition: inline; filename=journal.pone.0044136.XML
      content-type: text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE article\n  PUBLIC
        \"-//NLM//DTD Journal Publishing DTD v3.0 20080202//EN\" \"http://dtd.nlm.nih.gov/publishing/3.0/journalpublishing3.dtd\">\n<article
        xmlns:mml=\"http://www.w3.org/1998/Math/MathML\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" article-type=\"research-article\"
        dtd-version=\"3.0\" xml:lang=\"en\">\n  <front>\n    <journal-meta><journal-id
        journal-id-type=\"nlm-ta\">PLoS ONE</journal-id><journal-id journal-id-type=\"publisher-id\">plos</journal-id><journal-id
        journal-id-type=\"pmc\">plosone</journal-id><issn pub-type=\"epub\">1932-6203</issn><publ[...]
[...]
