http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 13:15:05 GMT
      etag: '"OTMzYTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1994702,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 17:29:18 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&fl=id&start=0&rows=20&wt=json&fq=doc_type%3Afull
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Thu, 03 May 2018 13:15:05 GMT
      etag: '"NTYyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":234033,"start":0,"docs":[{"id":"10.1371/journal.pone.0044136"},{"id":"10.1371/journal.pone.0155491"},{"id":"10.1371/journal.pone.0168631"},{"id":"10.1371/journal.pone.0058100"},{"id":"10.1371/journal.pone.0168627"},{"id":"10.1371/journal.pone.0184491"},{"id":"10.1371/journal.pone.0155489"},{"id":"10.1371/journal.pone.0072057"},{"id":"10.1371/journal.pone.0127059"},{"id":"10.1371/journal.pone.0168605"},{"id":"10.1371/journal.pone.0058079"},{"id":"10.1371/journal.pone.0168602"},{"id":"10.1371/journal.pone.0044129"},{"id":"10.1371/journal.pone.0058091"},{"id":"10.1371/journal.pone.0184468"},{"id":"10.1371/journal.pone.0141298"},{"id":"10.1371/journal.pone.0168604"},{"id":"10.1371/journal.pone.0155469"},{"id":"10.1371/journal.pone.0184467"},{"id":"10.1371/journal.pone.0085513"}]}}
  recorded_at: 2018-05-03 17:29:18 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
