http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=alcohol&wt=json&start=0&rows=10&hl.fl=abstract&hl=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":27480,"start":0,"maxScore":4.68899,"docs":[{"id":"10.1371/journal.pone.0185457","journal":"PLOS ONE","eissn":"1932-6203","publication_date":"2017-09-28T00:00:00Z","article_type":"Research Article","author_display":["Jacqueline Willmore","Terry-Lynne Marko","Darcie Taing","Hugues Sampasa-Kanyinga"],"abstract":["Objectives: Alcohol-related morbidity and mortality are significant public health issues. The purpose of this study was to describe the prevalence and trends over time of alcohol consumption and alcohol-related morbidity and mortality; and public attitudes of alcohol use impacts on families and the community in Ottawa, Canada. Methods: Prevalence (2013–2014) and trends (2000–2001 to 2013–2014) of alcohol use were obtained from the Canadian Community Health Survey. Data on paramedic responses ([...]
- request:
    method: get
    uri: http://api.plos.org/search?q=everything%3A%22sports%20alcohol%22~7&wt=json&start=0&hl.fl=everything&hl=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDA[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=alcohol&wt=json&start=0&rows=5&hl.fragsize=20&hl.fl=abstract&hl=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvb[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=alcohol&wt=json&start=0&rows=5&hl.snippets=5&hl.mergeContiguous=true&hl.fl=abstract&hl=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZT[...]
