http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&rows=0&facet=true&facet.field=journal_key&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1994684,"start":0,"maxScore":1.0,"docs":[]},"facet_counts":{"facet_queries":{},"facet_fields":{"journal_key":["PLoSONE",1713215,"PLoSGenetics",63641,"PLoSPathogens",57133,"PLoSNTD",51983,"PLoSCompBiol",49242,"PLoSBiology",34284,"PLoSMedicine",25151,"PLoSClinicalTrials",35]},"facet_ranges":{},"facet_intervals":{},"facet_heatmaps":{}}}
  recorded_at: 2018-05-03 06:15:10 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
