http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=figure_table_caption%3A%22ecology%22&fl=figure_table_caption&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"Zjc1YzE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1009,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:12:05 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=figure_table_caption%3A%22ecology%22&fl=figure_table_caption&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1009,"start":0,"docs":[{"figure_table_caption":["Temporal trend in the percentage of primatological publications dealing with aspects of primate ecology over the period 1980–2009.  Dots represent 5-year running means; therefore, 1980, 1981, 2008 and 2009 are not represented by a dot.  ","Total number of papers published in different ecological journals and percentage of these papers that relate to primates.  Ecol Lett  =  Ecology Letters, Funct Ecol  =  Functional Ecology, J Anim Ecol  =  Journal of Animal Ecology, J Ecol  =  Journal of Ecol[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=figure_table_caption%3A%22ecology%22&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1009,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:12:05 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=figure_table_caption%3A%22ecology%22&fl=id&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1009,"start":0,"docs":[{"id":"10.1371/journal.pone.0080763"},{"id":"10.1371/journal.pone.0074321"},{"id":"10.1371/journal.pone.0175201"},{"id":"10.1371/journal.pone.0054689"},{"id":"10.1371/journal.pone.0142331"},{"id":"10.1371/journal.pone.0081871"},{"id":"10.1371/journal.pone.0119922"},{"id":"10.1371/journal.pone.0155019"},{"id":"10.1371/journal.pone.0192019"},{"id":"10.1371/journal.pone.0175942"}]}}
  recorded_at: 2018-05-03 06:12:05 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
