http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=abstract%3A%22drosophila%22&fl=author&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":3393,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:14:03 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=abstract%3A%22drosophila%22&fl=author&start=0&rows=5&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":3393,"start":0,"docs":[{"author":["Martin Kapun","Viola Nolte","Thomas Flatt","Christian Schlötterer"]},{"author":["Norma Andrea Velazquez-Ulloa"]},{"author":["Douglas H Roossien","Phillip Lamoureux","David Van Vactor","Kyle E Miller"]},{"author":["Jessica L Robertson","Asako Tsubouchi","W Daniel Tracey"]},{"author":["Anja Hildebrandt","Iris Bickmeyer","Ronald P Kühnlein"]}]}}
  recorded_at: 2018-05-03 06:14:03 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=abstract%3A%22Jones%22&fl=author&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":33,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:14:03 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=abstract%3A%22Jones%22&fl=author&start=0&rows=5&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":33,"start":0,"docs":[{"author":["Zhidong Bai","Yongchang Hui","Dandan Jiang","Zhihui Lv","Wing-Keung Wong","Shurong Zheng"]},{"author":["Thomas A Hughes","Pamela F Jones"]},{"author":["Peter Cleaton-Jones"]},{"author":["Sarah Rowland-Jones","Thushan de Silva"]},{"author":["Jerome Amir Singh"]}]}}
  recorded_at: 2018-05-03 06:14:03 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
