http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=author%3A%22johnson%22&fl=title%2Cauthor&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":13967,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:13:09 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=author%3A%22johnson%22&fl=title%2Cauthor&start=0&rows=100&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":13967,"start":0,"docs":[{"author":["Jay E Johnson","F Brad Johnson"],"title":"Methionine Restriction Activates the Retrograde Response and Confers Both Stress Tolerance and Lifespan Extension to Yeast, Mouse and Human Cells"},{"author":["Jay E Johnson","F Brad Johnson"]},{"author":["Jay E Johnson","F Brad Johnson"]},{"author":["Jay E Johnson","F Brad Johnson"]},{"author":["Jay E Johnson","F Brad Johnson"]},{"author":["Jay E Johnson","F Brad Johnson"]},{"author":["Jay E Johnson","F Brad Johnson"]},{"author":["Jay E Johnson","F Brad Johnson"]},{"author":["Jay E Johnson","F[...]
[...]
