http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=title%3A%22drosophila%22&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":2178,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:09:16 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=title%3A%22drosophila%22&fl=id&start=0&rows=5&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"Zjc1YzE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":2178,"start":0,"docs":[{"id":"10.1371/journal.pone.0188021"},{"id":"10.1371/journal.pone.0188133"},{"id":"10.1371/journal.pone.0132184"},{"id":"10.1371/journal.pone.0008928"},{"id":"10.1371/journal.pone.0017131"}]}}
  recorded_at: 2018-05-03 06:09:16 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=title%3A%22drosophila%22&fl=title%2Cjournal&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":2178,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:09:16 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=title%3A%22drosophila%22&fl=title%2Cjournal&start=0&rows=5&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":2178,"start":0,"docs":[{"journal":"PLOS ONE","title":"Peptidergic control in a fruit crop pest: The spotted-wing drosophila, Drosophila suzukii"},{"journal":"PLOS ONE","title":"Nematocytes: Discovery and characterization of a novel anculeate hemocyte in Drosophila falleni and Drosophila phalerata"},{"journal":"PLOS ONE","title":"Tandem Duplications and the Limits of Natural Selection in Drosophila yakuba and Drosophila simulans"},{"journal":"PLoS ONE","title":"In Vivo RNAi Rescue in Drosophila melanogaster with Genomic Transgenes from Drosophila pseudoobscura"},{"journal":"PLoS ONE","title":"A Tripartite Synapse Model in Drosophila"}]}}
  recorded_at: 2018-05-03 06:09:16 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
