http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=abstract%3A%22drosophila%22&fl=abstract%2Cid&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":3393,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:14:02 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=abstract%3A%22drosophila%22&fl=abstract%2Cid&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":3393,"start":0,"docs":[{"id":"10.1371/journal.pone.0012421","abstract":["Background: The Drosophila C virus (DCV) is a common and well-studied Drosophila pathogen. Although natural infections are known from Drosophila melanogaster and D. simulans, and artificial infections have been reported from several Drosophila species and other insects, it remains unclear to date whether DCV infections also occur naturally in other Drosophila species. Methods/Principal Findings: Using reverse transcription PCR, we detected natural infections in six Drosophila species, which ha[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=abstract%3A%22drosophila%22&fl=abstract&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":3393,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:14:02 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=abstract%3A%22drosophila%22&fl=abstract&start=0&rows=5&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDAwMDAwMFNvbHI="'
[...]
