http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?wt=json&fq=doc_type%3Afull&q=id%3A%2210.1371%2Fjournal.pone.0002154%22&fl=id%2Ccounter_total_all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1,"start":0,"docs":[{"id":"10.1371/journal.pone.0002154","counter_total_all":8951}]}}
  recorded_at: 2018-05-03 06:08:12 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?wt=json&fq=doc_type%3Afull&rows=18&q=%22bird%22&fl=id%2Ccounter_total_all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"Zjc1YzE4MDAwMDAwMDAwMF[...]
