http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=subject%3A%22marine%20ecology%22&fl=id%2Cjournal&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":3802,"start":0,"docs":[]}}
  recorded_at: 2018-05-03 06:11:25 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
- request:
    method: get
    uri: http://api.plos.org/search?q=subject%3A%22marine%20ecology%22&fl=id%2Cjournal&start=0&rows=9&wt=json&fq=doc_type%3Afull
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":442,"start":0,"docs":[{"id":"10.1371/journal.pone.0167252","journal":"PLOS ONE"},{"id":"10.1371/journal.pone.0021810","journal":"PLoS ONE"},{"id":"10.1371/journal.pone.0149852","journal":"PLOS ONE"},{"id":"10.1371/journal.pone.0092590","journal":"PLoS ONE"},{"id":"10.1371/journal.pone.0168735","journal":"PLOS ONE"},{"id":"10.1371/journal.pone.0141396","journal":"PLOS ONE"},{"id":"10.1371/journal.pone.0185469","journal":"PLOS ONE"},{"id":"10.1371/journal.pbio.2001656","journal":"PLOS Biology"},{"id":"10.1371/journal.pone.0098036","journal":"PLoS ONE"}]}}
  recorded_at: 2018-05-03 06:11:25 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
