http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=Helianthus&fl=id&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":528,"start":0,"docs":[{"id":"10.1371/journal.pone.0148280"},{"id":"10.1371/journal.pone.0111982"},{"id":"10.1371/journal.pone.0139188"},{"id":"10.1371/journal.pone.0057533"},{"id":"10.1371/journal.pone.0045899"},{"id":"10.1371/journal.pone.0037191"},{"id":"10.1371/journal.pone.0179746"},{"id":"10.1371/journal.pone.0070347"},{"id":"10.1371/journal.pone.0051360"},{"id":"10.1371/journal.pone.0138992"}]}}
  recorded_at: 2018-05-03 05:42:39 GMT
  recorded_with: vcr/0.0.8.9538, webmockr/0.2.2.9119, crul/0.5.2
