http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=phylogeny&fl=publication_date&wt=json&rows=300
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":15265,"start":0,"docs":[{"publication_date":"2010-09-28T00:00:00Z"},{"publication_date":"2009-02-05T00:00:00Z"},{"publication_date":"2013-11-01T00:00:00Z"},{"publication_date":"2011-10-04T00:00:00Z"},{"publication_date":"2010-02-04T00:00:00Z"},{"publication_date":"2014-11-11T00:00:00Z"},{"publication_date":"2015-06-25T00:00:00Z"},{"publication_date":"2008-12-03T00:00:00Z"},{"publication_date":"2018-04-11T00:00:00Z"},{"publication_date":"2016-04-12T00:00:00Z"},{"publication_date":"2014-01-08T00:00:00Z"},{"publication_date":"2012-05-07T00:0[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=drosophila&fl=publication_date&wt=json&rows=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"ZTMzZmU4MDAwMDAwMDAwMFNvbHI="'
    body:
     [...]
- request:
    method: get
    uri: http://api.plos.org/search?q=monkey&fl=publication_date&wt=json&rows=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YjYzYTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      enc[...]
[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=flower&fl=publication_date&wt=json&rows=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Wed, 02 May 2018 20:22:57 GMT
      etag: '"YzAyNDE4MDAwMDAwMDAwMFNvbHI="'
    body:
      enc[...]
