http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Mon, 13 Aug 2018 17:37:29 GMT
      etag: '"NjE2MzE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":2046746,"start":0,"docs":[]}}
  recorded_at: 2018-08-13 18:44:05 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.6.0
- request:
    method: get
    uri: http://api.plos.org/search?q=%2A%3A%2A&fl=id&start=1000000&rows=15&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      last-modified: Mon, 13 Aug 2018 17:37:29 GMT
      etag: '"ZmI0NTE4MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":2046746,"start":1000000,"docs":[{"id":"10.1371/journal.pone.0022277/materials_and_methods"},{"id":"10.1371/journal.pone.0133435/title"},{"id":"10.1371/journal.pone.0133435/abstract"},{"id":"10.1371/journal.pone.0133435/references"},{"id":"10.1371/journal.pone.0022276"},{"id":"10.1371/journal.pone.0008075/title"},{"id":"10.1371/journal.pone.0008075/abstract"},{"id":"10.1371/journal.pone.0008075/references"},{"id":"10.1371/journal.pone.0008075/body"},{"id":"10.1371/journal.pone.0008075/introduction"},{"id":"10.1371/journal.pone.0008075/results_and_discussion"},{"id":"10.1371/journal.pone.0008075/materials_and_methods"},{"id":"10.1371/journal.pone.0008075/supporting_information"},{"id":"10.1371/journal.pone.0036263"},{"id":"10.1371/journal.pone.0036263/title"}]}}
  recorded_at: 2018-08-13 18:44:05 GMT
  recorded_with: vcr/0.1.0, webmockr/0.2.6, crul/0.6.0
[...]
